:root {
  --background: #282828;
  --darkblue: #0d2b45;
  --blue: #203c56;
  --purple: #544e68;
  --pink: #8d697a;
  --darkorange: #d08159;
  --orange: #ffaa5e;
  --peach: #ffd4a3;
  --white: #ffecd6;
  
  color: var(--white);
}

h1 {
  font-size: 40pt;
  margin: 0pt;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

a {
  text-decoration: none;
  color: var(--pink)
}
a:hover {
  text-decoration: underline 2px;
}

#container {
  margin: 10pt;
  width:  50em;
  height: 40em;
}

.media {
  width: 100%;
  height: 100%;
  border: 2pt solid var(--peach);
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

#profile-links {
  font-size: 18pt;
}

.content {
  padding: 16pt;
  font-size: 16pt;
}

#image-title:hover {
  text-decoration: underline 2px;
  color: var(--peach);
}

#image-title {
  color: var(--peach);
  font-size: 20pt;
  font-weight: bold;
}
